/* h1 {
    text-align: center;
} */
/* p {
    background-color: red;
    display: inline-block;
} */
.p1,.p2 {
    text-align: justify;
    width: 50%;
    background-color: red;
    display:inline-block;
}

.p1{
    background-color: red;
}

.p2{
    background-color: aqua;
}

