h1 {
    color: red;
    font-size: 4em;
}

/*psudo- adding content after (In-Line Element - does not accept width and height ) */
/* h1::after {
    content: ' world';
    color: white;
    background-color: black;

}

h1::before {
    content: 'hey ';
} */

/* h1::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: blue;
    display: inline-block;
    border-radius: 50%;

} */

/* .heading::before {
    content: '';
    display:inline-block;
    width: 10px;
    height: 1em;
    background-color: black;
    margin: 0 3px;
    border-radius: 5px;
} */

h1::before {
    content: '';
}

p::before {
    content: '\261E';
    margin-right: 3px;
    color: red; 
}